<h1> Create a New User Account </h1>

<div id="createform">
  <%= render partial: "shared/createuserform" %>
</div>
<h3> <%= "Password must be at least 8 characters long and contain at least one number and one character."%> </h3>