<%= render partial: "shared/navbar" %>

<h1> Login Page </h1>

<%= render partial: "shared/loginform" %>

<div>
  <h3> <%= "Don't have an account?"%> </h3>
  <%= link_to "Create User", new_login_path %>
</div>