<%= render partial: "shared/navbar" %>

<h1> Create a New Shopping Account </h1>

<%= render partial: "shared/createuserform" %>
<h3> <%= "Password must be at least 8 characters long and contain at least one number and one character."%> </h3>